<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input JKM Harian</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/stylesJKM.css">
    <script src="../static/js/jkm_harian.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>
<body>
    <div class="containerForm">
        <div class="verTab">
            <div class="topVertab">
                <img class="logoForm" src="../assets/images/pln_only.png" alt="pln_logo" onclick="navigateToMenu()">
            </div>
            <div class="middleVertab">
                <button class="tabButton" id="jkmButton" onclick="navigateToJKM()">
                    <i class="fa-xl fa-solid fa-file-lines"></i>
                </button>
                <button class="tabButton" id="gangguanButton" onclick="navigateToGangguan()">
                    <i class="fa-xl fa-solid fa-bug"></i>
                </button>
                <button class="tabButton" id="pemeliharaanButton" onclick="navigateToPemeliharaan()">
                    <i class="fa-xl fa-solid fa-screwdriver-wrench"></i>
                </button>
            </div>
            <div class="bottomVertab">
                <button class="tabButtonLogout" onclick="navigateToLogout()">
                    <i class="fa-xl fa-solid fa-door-open"></i>
                </button>
            </div>
        </div>
        <div class="formArea">
            <div class="headline23">Input JKM Harian</div>
            <form class="fieldArea" id="jkmForm" action="/submit_jkm" method="POST" onsubmit="handleSubmit(event)">
                <div class="formField">
                    <label class="fieldLabel" for="unit_mesin">Unit Mesin</label>
                    <select class="dropdown" id="unit_mesin" name="unit_mesin" required>
                        <option value="1">1. DEUTZ MWM TBD 616 V12 G3 S/N 2205106</option>
                        <option value="2">2. MTU 18V 2000 G62 S/N 539100415</option>
                        <option value="3">3. MTU 12V 2000 G62 S/N 535102284</option>
                        <option value="4">4. DEUTZ MWM TBD 616 V12 G3 S/N 2204728</option>
                    </select>
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="tanggal">Tanggal*</label>
                    <input type="date" class="textField" id="tanggal" name="tanggal" required onchange="handleDateChange(event)">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jkm_harian">JKM Harian</label>
                    <input placeholder="Masukkan jam kerja mesin harian" type="number" class="textField" id="jkm_harian" name="jkm_harian" required>
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jumlah_jkm_har">Jumlah JKM HAR</label>
                    <input type="number" class="textField" id="jumlah_jkm_har" name="jumlah_jkm_har">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jsmo">JSMO</label>
                    <input type="number" class="textField" id="jsmo" name="jsmo">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jsb">JSB</label>
                    <input type="number" class="textField" id="jsb" name="jsb">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="keterangan">Keterangan</label>
                    <input placeholder="Masukkan keterangan" type="text" class="textField" id="keterangan" name="keterangan">
                </div>
                <button type="submit" class="btnSubmit">Submit</button>
            </form>
        </div>
        <div class="tableArea">
            <div class="tableHeadline">
                <label class="tableLable">Data Jam Kerja Mesin</label>
                <select id="unit_mesin_dropdown" class="dropdown">
                    <option value="1">1. DEUTZ MWM TBD 616 V12 G3 S/N 2205106</option>
                    <option value="2">2. MTU 18V 2000 G62 S/N 539100415</option>
                    <option value="3">3. MTU 12V 2000 G62 S/N 535102284</option>
                    <option value="4">4. DEUTZ MWM TBD 616 V12 G3 S/N 2204728</option>
                </select>
                <button class="btnExport" onclick="exportTableData()">Export Table</button>
            </div>
            <div class="tableColumn">
                <table class="data-table" id="dataTable">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>JKM Harian</th>
                            <th>Jumlah JKM HAR</th>
                            <th>JSMO</th>
                            <th>JSB</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function setActiveTab() {
            const url = window.location.pathname;
            document.querySelectorAll('.tabButton').forEach(button => {
                button.classList.remove('active');
            });

            if (url.includes('jkm_harian.html')) {
                document.getElementById('jkmButton').classList.add('active');
            } else if (url.includes('temuan_gangguan.html')) {
                document.getElementById('gangguanButton').classList.add('active');
            } else if (url.includes('pemeliharaan.html')) {
                document.getElementById('pemeliharaanButton').classList.add('active');
            }
        }
        window.onload = setActiveTab;

        document.addEventListener('DOMContentLoaded', () => {
            const usernameElement = document.getElementById('username');
            fetch('/user')
                .then(response => response.json())
                .then(data => {
                    if (usernameElement) {
                        usernameElement.textContent = data.username;
                    }
                })
                .catch(error => console.error('Error fetching user data:', error));

            const unit_mesin = document.querySelector('select[name="unit_mesin"]').value;
            displayTableData(unit_mesin);
        });
    </script>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input JKM Harian</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/stylesJKM.css">
    <script src="../static/js/jkm_harian.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>
<body>
    <div class="containerForm">
        <div class="verTab">
            <div class="topVertab">
                <img class="logoForm" src="../assets/images/pln_logo_1x1.png" alt="pln_logo" onclick="navigateToMenu()">
            </div>
            <div class="bottomVertab">
                <button class="tabButton" id="jkmButton" onclick="navigateToJKM()">
                    <i class="fa-xl fa-solid fa-file-lines"></i>
                </button>
                <button class="tabButton" id="gangguanButton" onclick="navigateToGangguan()">
                    <i class="fa-xl fa-solid fa-bug"></i>
                </button>
                <button class="tabButton" onclick="navigateToLogout()">
                    <i class="fa-xl fa-solid fa-door-closed"></i>
                </button>
            </div>
        </div>
        <div class="formArea">
            <div class="headline23">Input JKM Harian</div>
            <form class="fieldArea" id="jkmForm" action="/submit_jkm" method="POST" onsubmit="handleSubmit(event)">
                <div class="formField">
                    <label class="fieldLabel" for="tanggal">Tanggal*</label>
                    <input type="date" class="textField" id="tanggal" name="tanggal" required onchange="handleDateChange(event)">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="unit_mesin">Unit Mesin</label>
                    <select class="dropdown" id="unit_mesin" name="unit_mesin" required>
                        <option value="1">1. DEUTZ MWM TBD 616 V12 G3 S/N 2205106</option>
                        <option value="2">2. MTU 18V 2000 G62 S/N 539100415</option>
                        <option value="3">3. MTU 12V 2000 G62 S/N 535102284</option>
                        <option value="4">4. DEUTZ MWM TBD 616 V12 G3 S/N 2204728</option>
                    </select>
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jkm_harian">JKM Harian</label>
                    <input type="number" class="textField" id="jkm_harian" name="jkm_harian" required>
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jumlah_jkm_har">Jumlah JKM HAR</label>
                    <input type="number" class="textField" id="jumlah_jkm_har" name="jumlah_jkm_har">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jsmo">JSMO</label>
                    <input type="number" class="textField" id="jsmo" name="jsmo">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="jsb">JSB</label>
                    <input type="number" class="textField" id="jsb" name="jsb">
                </div>
                <div class="formField">
                    <label class="fieldLabel" for="keterangan">Keterangan</label>
                    <input type="text" class="textField" id="keterangan" name="keterangan">
                </div>
                <button type="submit" class="btnSubmit">Submit</button>
            </form>
        </div>
        <div class="tableArea">
            <div class="tableHeadline">
                <label class="tableLabel">Data Jam Kerja Mesin</label>
                <select id="unit_mesin_dropdown" class="dropdown">
                    <option value="1">1. DEUTZ MWM TBD 616 V12 G3 S/N 2205106</option>
                    <option value="2">2. MTU 18V 2000 G62 S/N 539100415</option>
                    <option value="3">3. MTU 12V 2000 G62 S/N 535102284</option>
                    <option value="4">4. DEUTZ MWM TBD 616 V12 G3 S/N 2204728</option>
                </select>
                <button class="btnExport" onclick="exportTableData()">Export Table</button>
            </div>
            <div class="tableColumn">
                <table class="data-table" id="dataTable">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>JKM Harian</th>
                            <th>Jumlah JKM HAR</th>
                            <th>JSMO</th>
                            <th>JSB</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function navigateToMenu(){
            window.location.href = "./menu.html";
        }
        function navigateToGangguan(){
            window.location.href = "./temuan_gangguan.html";
        }
        function navigateToLogout() {
            window.location.href = "/logout";
        }
        function setActiveTab() {
            const url = window.location.pathname;
            document.querySelectorAll('.tabButton').forEach(button => {
                button.classList.remove('active');
            });

            if (url.includes('jkm_harian.html')) {
                document.getElementById('jkmButton').classList.add('active');
            } else if (url.includes('temuan_gangguan.html')) {
                document.getElementById('gangguanButton').classList.add('active');
            }
        }
        window.onload = setActiveTab;

        document.addEventListener('DOMContentLoaded', () => {
            const usernameElement = document.getElementById('username');
            fetch('/user')
                .then(response => response.json())
                .then(data => {
                    if (usernameElement) {
                        usernameElement.textContent = data.username;
                    }
                })
                .catch(error => console.error('Error fetching user data:', error));

            const unit_mesin = document.querySelector('select[name="unit_mesin"]').value;
            displayTableData(unit_mesin);
        });
    </script>
</body>
</html>
-->
