<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/pln_only fav.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
      <div class="headline-logos">
        <div class="logoHeadline">
            <img height="48px" src="../assets/images/pln_namlea.png">
            <img height="48px" src="../assets/images/k3.png">
            <img height="32px" src="../assets/images/bumn.png">
            <img height="32px" src="../assets/images/akhlak.png">
        </div>
        <div class="identityDisplay">
            Welcome, <div class="welcomeText" id="username"></div>!
            <button class="btnLogout" onclick="navigateToLogout()">Logout</button>
        </div>
      </div>
      <div class="product">
        <div class="headline">
          <div class="m-2-u">M2U</div>
          <div class="monitoring-machine-unit">Monitoring Maintenance Unit</div>
        </div>
        <div class="inputOptions">
            <button class="btnInput" onclick="navigateToJKM()">Input JKM Harian</button>
            <button class="btnInput" onclick="navigateToGangguan()">Input Temuan Gangguan</button>
            <button class="btnInput" onclick="navigateToPemeliharaan()">Input Pemeliharaan Harian</button>
        </div>
      </div>
    </div>
    <footer></footer>
    <script>
        function navigateToJKM(){
        window.location.href = "./jkm_harian.html";
        }
        function navigateToGangguan(){
        window.location.href = "./temuan_gangguan.html";
        }
        function navigateToPemeliharaan(){
        window.location.href = "./pemeliharaan.html";
        }
        function navigateToLogout() {
        window.location.href = "/logout";
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/user')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('username').textContent = data.username;
                })
                .catch(error => console.error('Error fetching user data:', error));
        });
    </script>
</body>
</html>