<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/pln_only fav.png">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <header></header>
  <div class="formArea">
    <div class="logoHeadline">
      <img height="80px" src="../assets/images/pln.png">
    </div>
    <div class="headlineLogin">Daftar Akun</div>
    <form class="fieldArea" action="/register" method="POST">
      <div class="formField">
        <label class="fieldLabel" for="username">Username</label>
        <input placeholder="Masukkan username" type="text" class="textField" id="username" name="username" required>
      </div>
      <div class="formField">
        <label class="fieldLabel" for="password">Password</label>
        <input placeholder="Masukkan password" type="password" class="textField" id="password" name="password" required>
      </div>
      <button type="submit" class="btnLogin">Daftar</button>
    </form>
    <div class="helperText">Sudah punya akun? <a class="helperTextLink" href="/">Masuk</a></div>
  </div>
  </div>
  <footer></footer>
</body>
</html>